<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TotalFramesPerGame" value="10"/>
    <add key="TotalNumberOfPinsToKnockDown" value="10"/>
    <add key="NoOfBowlsForAStrike" value="1"/>
    <add key="NoOfBowlsForASpare" value="2"/>
  </appSettings>
</configuration>